# Java Builds
target/
build/
bin/
.gradle/
.classpath

# angular6-client Builds
tmp/
dist/

# angular6-client dependencies
node_modules/
bower_components/

# IDEs and editors
**/.idea
**/.vscode
.settings/

# misc
**/.sass-cache
**/npm-debug.log
typings/

#System Files
**/.DS_Store
**/.project
**/.settings
**/.classpath
**/.metadata
**/Thumbs.db
